$ cat .gitignore

# Can ignore specific files
.DS_Store

# Use wildcards as well
*.fig
*.txt
*.csv
*.jpg
*.pdf
*.tiff
*.mov
*.dat
*.eps
*.gpx

# Can also ignore all directories and files in a directory.
/TOW_data
